<div class="jumbotron">
  <h1>Zarejestruj statek powietrzny</h1>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla aliquam consequat. Sed in ipsum tincidunt, consectetur odio at, lobortis sapien. Phasellus eleifend, nulla non molestie ultricies, metus velit gravida lorem, vel commodo leo dui in nisi. Nullam viverra nisi ut arcu ullamcorper laoreet. Maecenas sollicitudin accumsan erat consectetur euismod. Nam at gravida nulla. Maecenas faucibus, dui eget dignissim viverra, lacus erat varius dolor, vitae facilisis elit mauris eu orci. Sed ac blandit lorem. Phasellus quis enim vitae ipsum faucibus lobortis. Nulla dignissim semper hendrerit. Nam sed risus risus. Pellentesque et leo erat. Praesent efficitur mi sit amet leo laoreet, sed aliquet elit dapibus. Aliquam malesuada tellus vitae metus feugiat, vel faucibus lectus pellentesque. Sed sit amet justo sed justo auctor posuere eget nec massa.</p>
  
</div>